.totalProduct {
  height: 10%;
  margin: 1% 5.4% 2.8%;
  display: flex;
  justify-content: space-around;
  width: 89.2%;
  padding-bottom: 2%;
}
.totalPrice{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-right: 1px solid #4d2400;
  width: 50%;
}
.totalPrice h3 {
  font-size: 1.1rem;
}
.totalPrice p{
  font-size: 1.05rem;
  margin-top: 5%;
  font-weight: bold;
}
.linkProduct{
  position: relative;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
a{
  text-decoration: none;
  color: black;
}
.iconCart{
  margin-top: 3%;
}
.linkProduct p{
  font-size: 13px;
  margin-top: 2%;
}
.sum {
  position: absolute;
  right: 33%;
  top: 0%;
  background-color: #003F4D;
  color: white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sum p{
  font-size: 12px;
  font-weight: bold;
}

/* ----responsive tablet ----- */
@media (min-width:481px) {
  .totalPrice h3 {
    font-size: 1.2rem;
  }
  .totalPrice .textTotalValue{
    font-size: 1.1rem;
    margin-top: 5%;
    font-weight: bold;
  }
  .linkProduct p{
    font-size: 15px;
    margin-top: 2%;
  }
  .sum {
    right: 34%;
    top: 5%;
    width: 25px;
    height: 25px;
  }
  .sum p{
    font-size: 14px;
  }
}

/* ----responsive tablet and small screens laptop----- */
@media (min-width:769px) {
  .totalPrice h3 {
    font-size: 1.6rem;
  }
  .totalPrice .textTotalValue{
    font-size: 1.4rem;
    margin-top: 3%;
    font-weight: bold;
  }
  .linkProduct p{
    font-size: 18px;
    margin-top: 2%;
  }
  .sum {
    right: 38%;
    top: 2%;
    width: 30px;
    height: 30px;
  }
  .iconCart{
    width: 40px;
    height: 40px;
  }
  .sum p{
    font-size: 18px;
  }
}

/* ----responsive Desktop - large Screens----- */
@media (min-width:1025px) and (max-width:1200px) {
  .totalPrice h3 {
    font-size: 1.2rem;
  }
  .totalPrice .textTotalValue{
    font-size: 1.2rem;
    margin-top: 0;
  }
  .linkProduct p{
    font-size: 1.1rem;
  }
  .sum {
    right: 38%;
    top: 0%;
    width: 20px;
    height: 20px;
  }
  .sum p{
    font-size: 0.8rem;
  }
}

@media (min-width:1201px) {
  .totalPrice{
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .totalPrice h3 {
    font-size: 1.2rem;
    margin: 0;
  }
  .totalPrice .textTotalValue{
    font-size: 1rem;
    margin: 0 0 0 10%;
  }
  .linkProduct p{
    font-size: 0.6rem;
    margin-top: 0;
  }
  .sum {
    right: 40%;
    top: 2%;
    width: 22px;
    height: 22px;
  }
  .sum p{
    font-size: 0.9rem;
  }
}