.screenDesktop-1{
  height: 100vh;
  /* min-height: 400px; */
  width: 100%;
  background: #fff;
  border-radius: 0;
  overflow: hidden;
  position: relative;
}
header{
  background-color: #4D2400;
  height: 10.66%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header img{
  height: 90%;
}
h3{
  margin: 3% 0 0% 4.5%;
  font-size: 1rem;
  font-family: 'IBM Plex Mono', monospace;
}
.containerProducts {
  height: 53%;
  overflow: scroll;
}
.footerProducts{
  width: 100%;
  color: white;
  height: 6%;
  background-image: url(../..//assets/img/bgFooter.jpg);
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1rem;
  position: absolute;
  bottom: 0;
}

/* @media (orientation: landscape) {
  .screenDesktop-1{
    height: 200vh;
    position: absolute;
    top: 0;
  }
} */

/* ----responsive tablet ----- */
@media (min-width:481px) {
  .screenDesktop-1{
    /* min-height: 400px; */
    width: 80%;
    border-radius: 7px;
  }
  h3{
    margin: 3% 0 0 4.5%;
    font-size: 1.3rem;
  }
  .footerProducts{
    font-size: 1.1rem;
  }
}

/* ----responsive tablet and small screens laptop----- */
@media (min-width:769px) {
  .screenDesktop-1{
    /* min-height: 400px; */
    width: 80%;
    border-radius: 7px;
  }
  h3{
    margin: 3% 0% 2% 4.5%;
    font-size: 1.4rem;
  }
  .footerProducts{
    font-size: 1.2rem;
  }}

/* ----responsive Desktop - large Screens----- */
@media (min-width:1025px) {
  .screenDesktop-1{
    width: 50%;
    border-radius: 7px;
  }
  h3{
    margin: 2% 0 1% 4.5%;
    font-size: 1.2rem;
  }
  .containerProducts {
    height: 53.3%;
    overflow: scroll;
  }
  .footerProducts{
    font-size: 1.2rem;
  }
  
}
@media (min-width:1201px) {
  .containerProducts {
    height: 50%;
    overflow: scroll;
    display: flex;
    margin: 1% 5.4%;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  h3{
    margin: 2% 0 1% 4.5%;
    font-size: 1.3rem;
  }
  .containerProducts {
    height: 50%;
    overflow: scroll;
  }
  .footerProducts{
    font-size: 1rem;
  }
}