@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500;600;700&family=Noto+Serif:wght@400;700&display=swap');

.containerProduct{
  width: 89.2%;
  margin: 1% 5.4% 2%;
  overflow: hidden;
}
.textProduct h2{
  font-size: 1rem;
}
.textProduct p{
  font-size: 0.8rem;
  margin: 0 0 2% 1%;
}
.visualProduct{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.visualProduct .imgPr{
  background-color: rgb(226, 226, 226);
}
.visualProduct img{
  width: 30vw;
}
.visualProduct .counter {
  width: 55%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2%;
}
.visualProduct .price {
  width: 35%;
  overflow: hidden;
  margin-top: auto;
  margin-bottom: 1%;
}
.price p {
  font-size: 0.9rem;
  font-weight: bold;
  float: right;
}
.price input{
  width: 80%;
  margin:  10% 20%;
  border: none;
  font-size: 0.9rem;
}
.price input:focus {
  outline: 0;
}
/* .price input[type=number]
{
  -moz-appearance: textfield;
} */
/* .price input[type=number]::-webkit-inner-spin-button,
.priceinput[type=number]::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  margin: 0;
} */

.visualProduct button{
  width: 55%;
  height: 28px;
  margin-bottom: 2%;
  border-radius: 5px;
  font-weight: bold;
  font-family: 'IBM Plex Mono', monospace;
  margin-top: auto;
  color: white;
  background-color: #4D2400;
  border: 1px solid #4D2400;
  box-shadow: -1px 1px 5px #000;
  font-size: 0.9rem;
  margin-right: 1.5%;
}
/* ----responsive tablet ----- */
@media (min-width:481px) {
  .textProduct h2{
    font-size: 1.2rem;
  }
  .textProduct p{
    font-size: 0.85rem;
    margin: 0 0 2% 1%;
  }
  .visualProduct img{
    width: 26vw;
  }
  .price p {
    font-size: 1.1rem;
  }
  .price input{
    font-size: 1rem;
  }
  .visualProduct button{
    font-size: 1.05rem;
  }
}

/* ----responsive tablet and small screens laptop----- */
@media (min-width:769px) {
  .textProduct h2{
    font-size: 1.5rem;
  }
  .textProduct p{
    font-size: 1.1rem;
    margin: 0 0 2% 1%;
  }
  .visualProduct img{
    width: 25vw;
  }
  .price p {
    font-size: 1.4rem;
  }
  .price input{
    font-size: 1.4rem;
    width: 60%;
  }
  .visualProduct button{
    font-size: 1.4rem;
    height: 2.5rem;
  }
}

/* ----responsive Desktop - large Screens----- */
@media (min-width:1025px) and (max-width:1200px) and (max-height:1000px) {
  .textProduct h2{
    font-size: 1.3rem;
  }
  .textProduct p{
    font-size: 1rem;
    margin: 0 0 2% 1%;
  }
  .visualProduct img{
    width: 12vw;
  }
  .price p {
    font-size: 1.1rem;
  }
  .price input{
    font-size: 1.1rem;
    width: 60%;
    margin-left: 40%;
  }
  .visualProduct button{
    font-size: 1.2rem;
    height: 2rem;
  }
}
@media (min-width:1025px) and (max-width:1200px) and (min-height:1001px) {

  .textProduct h2{
    font-size: 1.5rem;
  }
  .textProduct p{
    font-size: 1.1rem;
    margin: 0 0 2% 1%;
  }
  .visualProduct img{
    width: 19vw;
  }
  .price p {
    font-size: 1.4rem;
  }
  .price input{
    font-size: 1.4rem;
    width: 60%;
  }
  .visualProduct button{
    font-size: 1.4rem;
    height: 2.5rem;
  }
}

@media (min-width:1201px) {
  .containerProduct{
    width: 49%;
    overflow: hidden;
    margin: 0;
    background-color: #f5fdff;
    margin-bottom: 10%;
  }
  .textProduct h2{
    font-size: 1.4rem;
  }
  .textProduct p{
    font-size: 0.9rem;
    margin: 0 0% 2% 1%;
  }
  .visualProduct{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .visualProduct img{
    width: 11vw;
  }
  .visualProduct .counter {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 10% 0 0;
  }
  .visualProduct .price {
    width: 55%;
    margin-bottom: 2%;
    display: flex;
    justify-content: space-around;
  }
  .price p {
    font-size: 1.2rem;
  }
  .price input{
    width: 30%;
    margin:  0;
    border: none;
    font-size: 1rem;
  }
  .visualProduct button{
    width: 40%;
    height: 30px;
    border-radius: 10px;
    box-shadow: -1px 1px 5px #000;
    font-size: 1rem;
  }
}