@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500;600;700&family=Noto+Serif:wght@400;700&display=swap');

body{
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Noto Serif', serif;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.fullScreen {
  box-sizing: border-box;
  background-image: url(./assets/img/bgBig.jpg);
  background-size:cover;
  /* background-repeat: repeat; */
  background-position: 0 bottom;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* @media (orientation: landscape) {
  .fullScreen {
    box-sizing: border-box;
    background-image: url(./assets/img/bgBig.jpg);
    background-size:cover;
    background-position: 0 bottom;
    height: 200vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
} */
